services:
  postgres:
    image: caiohclins/apoo-financeiro-postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      replicas: 1
      placement:
        constraints: [ node.role == worker ]

  keycloak:
    image: caiohclins/apoo-financeiro-keycloak:latest
    ports:
      - "8080:8080"
    deploy:
      replicas: 1
      placement:
        constraints: [ node.role == worker ]

  gestaoacesso:
    build:
      context: ./gestaoacesso
    image: caiohclins/apoo-financeiro-gestaoacesso:latest
    ports:
      - "8081:8081"
    networks:
      - sistema-financeiro-network
    deploy:
      replicas: 3
      placement:
        constraints: [ node.role == worker ]
          
  visualizer:
    image: dockersamples/visualizer:stable
    ports:
      - "8888:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - sistema-financeiro-network
    deploy:
      replicas: 1
      placement:
        constraints: [ node.role == manager ]
        
volumes:
  postgres_data:

networks:
  sistema-financeiro-network:
    driver: overlay